:root {
  font-size: 16px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

i {
  color: inherit;
}

body {
  font-family: 'Lucida Sans', sans-serif;
  line-height: 1.5;
  color: #202124;
  background-color: #c3d3db;
}

.container {
  --container-padding: 1em;
  --max-width: 550px;
  width: min(var(--max-width), 100% - var(--container-padding));
  margin-inline: auto;
}


.accordion-1 {
  --acc-padding: .8em;
  --icon-color: #c3d3db;
  --acc-content-color: #edf3f7;
  --icon-rotate: 90deg;
  --gtr-content: 0fr;
  --acc-panel-margin: 2px;
  --underline-width: 0%;
  background-color: transparent;
  color: #4b5363;
  -webkit-box-shadow: rgb(75, 83, 99, 0.2) 0px 8px 24px;
  box-shadow: rgb(75, 83, 99, 0.2) 0px 8px 24px;
  margin: 1em;
  border-radius: 5px;
}

.accordion-1__panel {
  background-color: #fbfbfb;
  position: relative;
  margin-bottom: var(--acc-panel-margin);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto var(--gtr-content);
  grid-template-rows: auto var(--gtr-content);
  -webkit-transition: grid-template-rows 150ms ease-in-out;
  -o-transition: grid-template-rows 150ms ease-in-out;
  transition: grid-template-rows 150ms ease-in-out;
  transition: grid-template-rows 150ms ease-in-out, -ms-grid-rows 150ms ease-in-out;
}

.accordion-1__panel.open {
  --gtr-content: 1fr;
  --icon-rotate: 0deg;
  --underline-width: 100%;
}

.accordion-1__heading {
  padding: var(--acc-padding);
  position: relative;
  /* on chrome the heading stretches on open, max-content fixes it */
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}


.accordion-1__heading:hover {
  --underline-width: 100%;
  --icon-color: #202020;
}

.accordion-1__heading::after {
  content: "";
  position: absolute;
  width: var(--underline-width);
  height: var(--acc-panel-margin);
  left: 0;
  bottom: calc(-1*var(--acc-panel-margin));
  background: -o-linear-gradient(45deg, rgb(64, 66, 71) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(45deg, rgb(64, 66, 71) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-transition: width 150ms ease-in-out;
  -o-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}


.accordion-1__title {
  font-weight: 400;
}

.accordion-1__icon {
  display: block;
  position: relative;
  width: 30px;
  aspect-ratio: 1;
}

.accordion-1__icon::after,
.accordion-1__icon::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  inset: 0;
  margin: auto;
  background-color: var(--icon-color);
  -webkit-transition: rotate 150ms ease-in-out;
  -o-transition: rotate 150ms ease-in-out;
  transition: rotate 150ms ease-in-out;
}

.accordion-1__icon::before {
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  rotate: var(--icon-rotate);
}

.accordion-1__p {
  padding: var(--acc-padding);
}

.accordion-1__content {
  overflow: hidden;
  background-color: var(--acc-content-color);
}







.accordion-2 {
  --acc-padding: .8em;
  --icon-color: #c3d3db;
  --side-line-color: black;
  --acc-panel-color: #edf3f7;
  --color: #2c0e3b;
  --bg-luminance: 100%;
  --icon-scale: 1;
  --icon-translate: 0;
  --gtr-content: 0fr;
  --acc-panel-margin: 1em;
  --side-line-height: 0%;
  background-color: transparent;
  margin: 3em 1em;
  border-radius: 5px;
}

.accordion-2__panel {
  color: var(--color);
  background-color: var(--acc-panel-color);
  margin-bottom: var(--acc-panel-margin);
  border-radius: 5px;
  -webkit-box-shadow: rgb(75, 83, 99, 0.2) 0px 8px 24px;
  box-shadow: rgb(75, 83, 99, 0.2) 0px 8px 24px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto var(--gtr-content);
  grid-template-rows: auto var(--gtr-content);
  -webkit-transition: grid-template-rows 150ms ease-in-out;
  -o-transition: grid-template-rows 150ms ease-in-out;
  transition: grid-template-rows 150ms ease-in-out;
  transition: grid-template-rows 150ms ease-in-out, -ms-grid-rows 150ms ease-in-out;
}

.accordion-2__panel:nth-child(1) {
  --side-line-color: #12c29f;
  --icon-color: var(--side-line-color);
  --color: var(--side-line-color);
  --acc-panel-color: hsl(168, 83%, var(--bg-luminance));
}

.accordion-2__panel:nth-child(2) {
  --side-line-color: #ffcd4d;
  --icon-color: var(--side-line-color);
  --color: var(--side-line-color);
  --acc-panel-color: hsl(43, 100%, var(--bg-luminance));
}

.accordion-2__panel:nth-child(3) {
  --side-line-color: #eb366e;
  --icon-color: var(--side-line-color);
  --color: var(--side-line-color);
  --acc-panel-color: hsl(341, 82%, var(--bg-luminance));
}

.accordion-2__panel:nth-child(4) {
  --side-line-color: #34d9fe;
  --icon-color: var(--side-line-color);
  --color: var(--side-line-color);
  --acc-panel-color: hsl(191, 99%, var(--bg-luminance));
}


.accordion-2__panel::before,
.accordion-2__panel::after {
  content: "";
  position: absolute;
  left: 0;
  height: var(--side-line-height);
  width: 3px;
  -webkit-transition: height 150ms ease-in-out 150ms;
  -o-transition: height 150ms ease-in-out 150ms;
  transition: height 150ms ease-in-out 150ms;
  background-color: var(--side-line-color);
}

.accordion-2__panel::before {
  top: 50%;
}

.accordion-2__panel::after {
  bottom: 50%;
}


.accordion-2__panel.open {
  --gtr-content: 1fr;
  --icon-scale: 0;
  --icon-translate: calc(-1.5*var(--acc-padding));
  --side-line-height: 50%;
  --color: #2c0e3b;
  --bg-luminance: 95%;
}



.accordion-2__heading {
  padding: var(--acc-padding);
  position: relative;
  /* on chrome the heading stretches on open, max-content fixes it */
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.accordion-2__title {
  font-weight: 400;
}

.accordion-2__icon {
  margin-right: 1em;
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  color: var(--icon-color);
  scale: var(--icon-scale);
  translate: var(--icon-translate);
  -webkit-transition: scale 150ms ease-in-out, translate 150ms ease-in-out;
  -o-transition: scale 150ms ease-in-out, translate 150ms ease-in-out;
  transition: scale 150ms ease-in-out, translate 150ms ease-in-out;
}

.accordion-2__icon::before {
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  rotate: var(--icon-rotate);
}

.accordion-2__p {
  padding: var(--acc-padding);
  margin-left: 2em;
  margin-right: 1em;
}

.accordion-2__content {
  color: var(--color);
  overflow: hidden;
}