:root {
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Lucida Sans', sans-serif;
  line-height: 1.5;
  color: #202124;
  background-color: cornsilk;
}

.container {
  --container-padding: 1em;
  --max-width: 550px;
  width: min(var(--max-width), 100% - var(--container-padding));
  margin-inline: auto;
}


.accordion-1 {
  --acc-padding: .8em;
  --icon-color: #c3d3db;
  --acc-content-color: #edf3f7;
  --icon-rotate: 90deg;
  --gtr-content: 0fr;
  --acc-panel-margin: 1px;
  background-color: #fbfbfb;
  color: #4b5363;
  box-shadow: rgb(75, 83, 99, 0.2) 0px 8px 24px;
  margin: 1em;
  border-radius: 5px;
}

.accordion-1__panel {
  /* margin-bottom: var(--acc-panel-margin); */
  border-bottom: 1px solid black;
  display: grid;
  grid-template-rows: auto var(--gtr-content);
  transition: grid-template-rows 150ms ease-in-out;
}


.accordion-1__heading {
  padding: var(--acc-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-1__title {
  font-weight: 400;
}

.accordion-1__icon {
  display: block;
  position: relative;
  width: 30px;
  aspect-ratio: 1;
}

.accordion-1__icon::after,
.accordion-1__icon::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  inset: 0;
  margin: auto;
  background-color: var(--icon-color);
}

.accordion-1__icon::before {
  transform-origin: center center;
  rotate: var(--icon-rotate);
}

.accordion-1:hover {
  --gtr-content: 1fr;
}

.accordion-1__p {
  padding: var(--acc-padding);
}

.accordion-1__content {
  overflow: hidden;
  background-color: var(--acc-content-color);
}